.covid-card {  
    max-width: 350px;  
}  
  
.same-row {  
    display: inline-block;  
    padding: 10px;  
}  
  
.table-data {  
    padding: 10px;  
    margin: 10px;  
}  
  
table {  
    padding: 10px;  
    width: 300px;  
    border: 1px solid gray;  
    background-color: honeydew;  
}  
  
tr {  
    margin: 10px;  
    padding: 10px;  
}  
  
td {  
    height: 30px;  
    vertical-align: center;  
    border: 1px dotted gray;  
} 
.example-card {
    max-width: flex;
}
  
.example-header-image {
    background-size: cover;
}

.mat-card-title {
    padding: 10px; 
}

.us-map {
    padding: 10px; 
    margin-bottom: 40px;
    margin-top: 40px;
}
a {
    color: black;
}
.death {
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

.hospital {
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

.positive {
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

.negative {
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

.ICU {
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

